@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.filter-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-bottom: 10px;
}

.filter-panel {
  position: fixed;
  right: 0;
  top: 10px;
  overflow-y: auto;

  max-height: calc(100vh - 40px);

  display: flex;
  flex-direction: column;

  padding: 10px;

  border: 1px solid var(--accent-light);
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--shadow);

  background-color: var(--paper-dark);

  text-align: left;

  z-index: 9999;
  
  color: var(--ink);
  font-family: "Special Elite";
  font-size: 0.9rem;

  width: fit-content;
  max-width: 300px;
}

.filter-panel label,
.filter-panel span,
.filter-panel button {
  font-size: 0.8rem;
}

.filter-panel label {
  display: block;
  text-align: left;
}

.filter-row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.filter-row .filter-section {
  flex: 1;
  gap:10px;
}

.filters-top {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.rating-section {
  min-width: 120px;
}

.duration-section {
  min-width: 20px;
}

.genres-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.genre-tag {
  display: inline-block;
  padding: 3px 3px;
  margin: 1px;

  border: 1px solid var(--accent);
  border-radius: 6px;

  background-color: var(--paper);

  cursor: pointer;

  transition: all 0.2s ease;

  font-size: 0.8rem;

  width: fit-content;
}

.genre-tag:hover {
  background-color: var(--accent-light);
}

.genre-tag.selected {
  background-color: var(--accent);
  border-color: #f2ece0;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);

  transform: translateY(-1px);
}

.genre-mode-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #666;

  transition: .3s;

  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";

  height: 18px;
  width: 18px;

  left: 3px;
  bottom: 3px;

  background-color: white;

  transition: .3s;

  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--accent);
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

.reset-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.languages-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}