.scroll-top-button {
  position: fixed;

  opacity: 0;

  bottom: 10px;
  right: 10px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: 3px solid var(--ink);

  background: var(--paper);
  color: var(--ink);

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 4px 12px rgba(0,0,0,0.2);

  z-index: 9999;

  transition: 
    transform 0.2s ease,
    opacity 0.2s ease;  
}

.scroll-top-button.visible {
    opacity: 0.15;
    pointer-events: auto;
}

body:hover .scroll-top-button {
    opacity: 1;
}

.scroll-top-button:hover {
    opacity: 1;
    transform: translateY(-3px);
    background: var(--paper-dark);
}